@import './reset.less';
@import './markdown.less';

body {
  position: relative;
  background-color: #f5f5f5;
  font: 12px Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

#cnode_container {
  padding-bottom: 60px;
}

// 公共section
.panel {
  padding: 10px 5px;
  margin: 10px 5px 0;
  background-color: #fff;
  .panel_title {
    padding: 0 10px;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px #e0e0e0 solid;
  }
  .panel_container {
    padding: 0 10px;
  }
  .panel_empty {
    line-height: 16px;
    margin-top: 5px;
    font-size: 12px;
    color: #666;
  }
  .panel_row {
    margin-top: 10px;
  }
}

.button_container {
  text-align: center;
  .signup_button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 5px auto 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #f64c4c;
    &.landing {
      background-color: darken(#f64c4c, 20%);
    }
  }
}
